<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>¿Dónde van mis impuestos?</title>
  <link rel="stylesheet" type="text/css" media="all" href="<%=ASSETS_URL%>/stylesheets/style.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

  <%= partial 'partials/analytics' %>
</head>

<body class="page page-template">
<%= partial 'partials/begin_body' %>

<div id="wrapper" class="hfeed">
	<div id="header">
		<div id="masthead">
			<div id="branding" role="banner">
				<div id="site-title">
          <a href="http://www.dondevanmisimpuestos.es/" title="¿Dónde van mis impuestos?" rel="home">
          <img src="<%=ASSETS_URL%>/images/wdmmg-logo.png" alt="¿Dónde van mis impuestos?" />
          </a>
				</div>
				<div id="site-description" style="margin-left: 20px;">Mostrando en qué se gasta tu dinero</div>
			</div><!-- #branding -->

			<div id="access" role="navigation">
  			<div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
  			<div class="menu-header">
  			  <ul id="menu-main-menu" class="menu">
  			    <li class="menu-item"><a href="/">Home</a></li>
            <li class="menu-item"><font color="red"><b><a href="/ayuda/">¿Qué es esto?</a></b></font></li>
            <li class="menu-item"><a href="http://blog.dondevanmisimpuestos.es">Blog</a></li>
            <li class="menu-item"><a href="/sobre-nosotros/">Nosotros</a></li>
          </ul>
        </div>			</div><!-- #access -->
		</div><!-- #masthead -->
	</div><!-- #header -->

  <div id="main">
    <%= yield %>
  </div><!-- #main -->
  

	<div id="footer" role="contentinfo">
		<div id="colophon">
			<div id="footer-widget-area" role="complementary">
			  
				<div id="first" class="widget-area">
					<ul class="xoxo">
						<li id="text-12" class="widget-container widget_text">
						  <h3 class="widget-title">Más información: </h3>			
					    <div class="textwidget">
					      <ul>
                  <li>
                    <a href="/sobre-nosotros/">Sobre nosotros</a>
                  </li>
                  <li>
                    <a href="http://data.dondevanmisimpuestos.es">API</a>
                  </li>
                  <li>
                    <a href="/legal/">Normas de Uso</a>
                  </li>
                  <li>
                    <a href="/legal/">Política de Privacidad</a>
                  </li>
                </ul>
              </div>
        		</li>
					</ul>
				</div><!-- #first .widget-area -->

				<div id="fourth" class="widget-area">
					<ul class="xoxo">
						<li id="text-10" class="widget-container widget_text">			
						  <div class="textwidget">
						    <ul>
                  <li>
                    Un proyecto de la 
                    <img src="http://m.okfn.org/images/logo/okf_logo_white_and_green.png" id="footer-okf-logo" />
                    <a href="http://www.okfn.org/">Open Knowledge Foundation</a> y 
                    <a href="http://www.probp.org/">Pro Bono Publico</a>
                  </li>
                  <li>
                    &copy; <a href="http://www.okfn.org/">Open Knowledge Foundation</a> y <a href="http://www.probp.org/">Pro Bono Publico</a>
                  </li>
                </ul>
              </div>
		        </li>
		      </ul>
				</div><!-- #fourth .widget-area -->

			</div><!-- #footer-widget-area -->

			<div id="site-info">
				<a href="http://www.dondevanmisimpuestos.es/" title="¿Dónde van mis impuestos?" rel="home">
					¿Dónde van mis impuestos?</a>
			</div><!-- #site-info -->
		</div><!-- #colophon -->
	</div><!-- #footer -->

</div><!-- #wrapper -->

</body>
</html>
